<div class="layout--community-lime">
    <div class="block">
      <h2 class="block__title">{{ self.block_heading }}</h2>
      <div class="block__content">
        <div class="row">
          <div class="col-xs-12 col-sm-6"><div class="box">
            <div class="community-item">
              <h3 class="community-item__title">EEA member countries</h3>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="community-item__hexagon"><span>{{ self.first_column_number }}</span></div>
                  <div class="community-item__description">
                    {{ self.first_column_text }}
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="community-item__hexagon"><span>{{ self.second_column_number }}</span></div>
                  <div class="community-item__description">
                    {{ self.second_column_text }}
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6"><div class="box">
            <div class="community-item">
              <h3 class="community-item__title">EEA cooperating countries</h3>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="community-item__hexagon"><span>{{ self.third_column_number }}</span></div>
                  <div class="community-item__description">
                    {{ self.third_column_text }}
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="community-item__hexagon"><span>{{ self.fourth_column_number }}</span></div>
                  <div class="community-item__description">
                    {{ self.fourth_column_text }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>