<div class="wrapper container-fluid">
  <header class="layout--header">
    <div class="layout--header__logo">
      <a href="index.html" class="logo" title="Home"></a>
    </div>
    <div class="layout--header__menu">
      <input class="layout--header__menu-input" id="dropdown-toggle" type="checkbox" name="dropdown" />
      <label class="layout--header__menu-label hidden-md hidden-lg" for="dropdown-toggle" title="Toggle menu">
        <i class="icon icon--menu"></i>
      </label>
      <nav class="nav-horizontal">
        <a class="nav-horizontal__link nav-horizontal__link--orange" href="topics.html">FLIS Topics</a>
        <div class="nav-horizontal__submenu">
          <div class="nav-horizontal__arrow"><i class="icon icon--vector"></i></div>
          <a class="nav-horizontal__link nav-horizontal__link--black" id="topics-resources" href="topics-resources.html">Resources Nexus</a>
          <a class="nav-horizontal__link nav-horizontal__link--lime" id="topics-food" href="topics-food.html">Food</a>
          <a class="nav-horizontal__link nav-horizontal__link--orange" id="topics-energy" href="topics-energy.html">Energy</a>
          <a class="nav-horizontal__link nav-horizontal__link--aqua" id="topics-water" href="topics-water.html">Water</a>
        </div>
        <a class="nav-horizontal__link nav-horizontal__link--right" href="#">FlIS platform</a>
      </nav>
    </div>
    <div class="layout--header__user">
      <div class="dropdown hidden-md hidden-lg">
        <input class="dropdown__input" id="menu-toggle" type="checkbox" name="dropdown" />
        <label class="dropdown__label" for="menu-toggle"  title="Toggle user menu">
          <i class="icon icon--user"></i>
        </label>
        <div class="dropdown__inner">
          <nav class="dropdown__nav">
            <a href="#" class="nav-vertical__link">Login</a>
            <a href="#" class="nav-vertical__link">Administration</a>
            <a href="#" class="nav-vertical__link">Search</a>
          </nav>
        </div>
      </div>
      <nav class="nav-vertical visible-md visible-lg">
        <a href="#" class="nav-vertical__link">Login</a>
        <a href="#" class="nav-vertical__link">Administration</a>
        <a href="#" class="nav-vertical__link">Search</a>
      </nav>
    </div>
  </header>
</div>
